.homepage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.hero {
  height: 90vh;
  width: 100%;
  // background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    // background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
//     background: #E44D26;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #F16529, #E44D26);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #F16529, #E44D26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  .hero-img {
    height: 100%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.116));
    z-index: 2;
    margin-left: 15rem;
  }


  .water-mark {
    position: absolute;
    font-size: 12rem;
    left: 3%;
    top: 5%;
    font-weight: 900;
    color: #e6ba8042;
  }
}


.tagline-container{
    position: absolute;
    top: 47%;
    left: 52%;
    transform: translate(-25%, -50%);
    color: #fff;
    
    .h1{
        font-size: 3.5rem;
        font-weight: 700;
        // line-height: 4rem;
        // color: #fff;
    }
    .h2{
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }
    .p{
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    
    .button{
        width: 10rem;
        height: 2.5rem;
        
        font-size: 1rem;
    }
}




@media only screen and (max-width: 1366px){

  
  .hero {
    height: 85vh;
    width: 100%;
    // background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
      // background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  
    .hero-img {
      height: 100%;
      filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.116));
      // z-index: 0;
      margin-left: 10rem;
    }
  
  
    .water-mark {
      position: absolute;
      font-size: 9rem;
      left: 0;
      top: 5%;
      font-weight: 900;
      color: #e6ba8042;
      .span2{
        color: #F9BD97;
      }
      .span1{
        color: #FFAC9F;
      }
    }
    
  }
  
  
  .tagline-container{
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-25%, -50%);
      
      .h1{
          font-size: 3.1rem;
          font-weight: 700;
          color: #000;
      }
      .h2{
          font-size: 2rem;
          margin-bottom: 1rem;
      }
      .p{
          font-size: .9rem;
          margin-bottom: 2rem;
      }
      
      .button{
          width: 10rem;
          height: 2.5rem;
          
          font-size: 1rem;
          border: none;
          // background: #
      }
  }
}